<div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">{{sectionTitle}}</h2>
    <hr class="star-dark mb-5">
</div>
<div class="container">
    
    <!-- Vertical buttons -->
    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
        <a class="rounded btn btn-xs btn-info" ng-if="login" onclick="login();">Login</a>
        <a class="rounded btn btn-xs btn-warning" ng-if="logout" onclick="logout();">Logout</a>
        <a></a>
        <a class="rounded btn btn-xs btn-success" href="https://documenter.getpostman.com/view/3125212/collection/7E8hvic" target="_blank">API Documentation</a>
        <a></a>
        <a class="rounded btn btn-xs btn-primary" href="https://github.com/si1718/si1718-dfr-researchers" target="_blank">
          <i class="fa fa-fw fa-github"></i>
        </a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div id="department_graph"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="group_graph"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div id="barCharResearchers"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="researchersORCIDvsNoORCID"></div>
        </div>
    </div>
</div>