<!-- Vertical buttons -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
    <a class="rounded btn btn-xs btn-info" ng-if="login" onclick="login();">Login</a>
    <a class="rounded btn btn-xs btn-warning" ng-if="logout" onclick="logout();">Logout</a>
    <a></a>
    <a class="rounded btn btn-xs btn-success" href="https://documenter.getpostman.com/view/3125212/collection/7E8hvic" target="_blank">API Documentation</a>
    <a></a>
    <a class="rounded btn btn-xs btn-primary" href="https://github.com/si1718/si1718-dfr-researchers" target="_blank">
      <i class="fa fa-fw fa-github"></i>
    </a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>

<section style="margin: 10px;">
    <fieldset style="min-height:150px;">
        <legend style="width: 35%;"><b> Add a new researcher </b> </legend>
        <label> <br/> </label>
        <label> <br/> </label>
        
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlName">Name</label>
                    <input type="text" class="form-control" id="formControlName" ng-model="newResearcher.name" aria-describedby="inputNameHelp" placeholder="Enter name">
                    <small id="inputNameHelp" class="form-text text-muted">Name required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlPhone">Phone</label>
                    <input type="text" class="form-control" id="formControlPhone" ng-model="newResearcher.phone" placeholder="Enter phone">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlORCID">ORCID</label>
                    <input type="text" class="form-control" id="formControlORCID" ng-model="newResearcher.orcid" aria-describedby="inputorcidHelp" placeholder="Enter ORCID">
                    <small id="inputorcidHelp" class="form-text text-muted">ORCID required.</small>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlResearcherId">ResearcherId</label>
                    <input type="text" class="form-control" id="formControlResearcherId" ng-model="newResearcher.researcherId" placeholder="Enter ResearcherId">
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlLink">Link</label>
                    <input type="text" class="form-control" id="formControlLink" ng-model="newResearcher.link" placeholder="Enter Link">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlIdGroup">Group</label>
                    <input type="text" class="form-control" id="formControlIdGroup" ng-model="newResearcher.idGroup" placeholder="Enter group">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlDepartment">Department</label>
                    <input type="text" class="form-control" id="formControlDepartment" ng-model="newResearcher.idDepartment" placeholder="Enter department">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="formControlProfessionalSituation">Professional Situation</label>
                    <input type="text" class="form-control" id="formControlProfessionalSituation" ng-model="newResearcher.professionalSituation" placeholder="Enter professional situation">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label for="formControlKeywords">Keywords</label>
                    <input type="text" class="form-control" id="formControlProfessionalSituation" ng-model="newResearcher.keywords" placeholder="Enter keywords separated by comma">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <button class="btn btn-primary pull-right" id="addResearcher" ng-click="addResearcher()">Add Researcher</button>
                <a class="btn btn-warning pull-right" href="/#!" style="margin-right: 10px;">Back</a>
            </div>
        </div>
    
    </fieldset>
</section>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2 class="text-center text-uppercase text-secondary mb-0">{{sectionTitle}}</h2>
    </div>
</div>

<div class="table-responsive">
    <h2>Researchers</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>ORCID</th>
                <th>ResearcherId</th>
                <th>External Link</th>
                <th>Group</th>
                <th>Department</th>
                <th>Professional Situation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="researcher in researchers | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>{{researcher.name}}</td>
                <td>{{researcher.phone}}</td>
                <td>{{researcher.orcid}}</td>
                <td>{{researcher.researcherId}}</td>
                <td>{{researcher.link}}</td>
                <td>{{researcher.idGroup}}</td>
                <td ng-if="researcher.departmentName != null && researcher.departmentName != ''">
                    <p><a href="{{researcher.departmentViewURL}}" target="_blank">{{researcher.departmentName}}</a></p>      
                </td>
                <td ng-if="researcher.departmentName == null || researcher.departmentName == ''">    
                    <p>{{researcher.idDepartment}}</p>
                </td>
                <td>{{researcher.professionalSituation}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteResearcher(researcher.idResearcher)">Delete</button><br />
                    <a class="btn btn-primary" id="addResearcher" href="#!/secure/researchers/{{researcher.idResearcher}}/edit">Edit</a><br />
                    <a class="btn btn-info" href="#!/secure/researchers/{{researcher.idResearcher}}/view">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row" style="text-align:center;">
    <div class="col-md-12 col-xs-12">
        <button class="btn btn-info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button class="btn btn-info" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
    </div>
</div>
