<div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">{{sectionTitle}}</h2>
    <hr class="star-dark mb-5">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-3">
        </div>
        <div class="col-md-4 col-xs-3">
            <input type="text" class="form-control" ng-model="searchTextBox" placeholder="Search a researcher by name, surname, ..." />
            <span><a href="#!/secure/researchers/">List all researchers</a></span>
        </div>
        <div class="col-md-2 col-xs-3">
            <a class="btn btn-info" href="#!/secure/researchers/{{searchTextBox}}">Search</a>
        </div>
        <div class="col-md-2 col-xs-3">
        </div>
    </div>
</div>


