<div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">{{sectionTitle}}</h2>
    <hr class="star-dark mb-5">
</div>
<div class="container">
    
    <!-- Vertical buttons -->
    <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
        <a class="rounded btn btn-xs btn-info" ng-if="login" onclick="login();">Login</a>
        <a class="rounded btn btn-xs btn-warning" ng-if="logout" onclick="logout();">Logout</a>
        <a class="rounded btn btn-xs btn-success" href="https://documenter.getpostman.com/view/3125212/collection/7E8hvic">API Documentation</a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    
    <div class="row">
        <div class="col-md-4 col-xs-3">
        </div>
        <div class="col-md-4 col-xs-3">
            <input type="text" class="form-control" ng-model="searchTextBox" placeholder="Search a researcher by name, surname, ..." />
            <span><a href="#!/secure/researchers/">List all researchers</a></span>
        </div>
        <div class="col-md-2 col-xs-3">
            <a class="btn btn-info" href="#!/secure/researchers/{{searchTextBox}}">Search</a>
        </div>
        <div class="col-md-2 col-xs-3">
        </div>
    </div>
</div>


